.banner {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
}

.banner-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
}

.banner-content h1 {
  font-size: 6vw;
}

.banner-content h3 {
  font-size: 2.5vw;
  margin-bottom: 40px;
}

.banner-btns {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-btn {
  margin-right: 20px;
}

@media all and (max-width: 1280px) {
  .banner-content h1 {
    font-size: 8vw;
  }
  
  .banner-content h3 {
    font-size: 3.3vw;
  }
}

@media all and (max-width: 850px) {
  .banner-content h1 {
    font-size: 10vw;
  }
  
  .banner-content h3 {
    font-size: 6vw;
    margin-bottom: 40px;
  }

  .banner-btns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .left-btn {
    margin-bottom: 20px;
    margin-right: 0;
  }
}